
name: Run checks
on: [push]
jobs:
  r-cmd-check:
    runs-on: ${{ matrix.config.os }}
    name: ${{ matrix.config.os }} (${{ matrix.config.r }})
    strategy:
        fail-fast: false
        matrix:
            config:
                - {os: macos-latest,   r: 'release'}
                - {os: ubuntu-latest, r: 'devel'}
                - {os: windows-latest, r: 'release'}
    steps:
      - uses: actions/checkout@v4
      - uses: r-lib/actions/setup-r@v2
        with:
            r-version: ${{ matrix.config.r }}
      - uses: r-lib/actions/setup-pandoc@v2
        with:
            r-version: ${{ matrix.config.r }}

      - uses: docker-practice/actions-setup-docker@master
      - run: |
            set -x
            docker version
      - name: Install rmarkdown
        run: Rscript -e 'install.packages("rmarkdown")'
      - name: Install tidyverse
        run: Rscript -e 'install.packages("tidyverse")'      
      - name: Install dplyr
        run: Rscript -e 'install.packages("dplyr")' 
      - name: Install kableExtra
        run: Rscript -e 'install.packages("kableExtra")' 
      - name: Install testthat
        run: Rscript -e 'install.packages("testthat")'  
      - name: Run testthat
        run: Rscript -e 'testthat::test_file(paste0(getwd(),"/tests/testthat/test_docker.R"))'  
    
